<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HiNetCloud.AxInterop.WMPLib" version="20.4.21.21" targetFramework="net472" />
  <package id="HiNetCloud.Interop.WMPLib" version="20.4.21.21" targetFramework="net472" />
  <package id="WMPLib" version="1.0.0" targetFramework="net472" developmentDependency="true" />
</packages>